COMPOSE_PROJECT_NAME=Node-MySQL
# Node App Port
PORT=3000 
# If you already have the port 3000 in use, you can change it (HTTP Unsecure Port)
HOST_MACHINE_UNSECURE_HOST_PORT=3000

# If you already have the port 3306 in use, you can change it (MySQL)
HOST_MACHINE_MYSQL_PORT=3306

# If you already have the port 8082 in use, you can change it (PHPMyAdmin)
HOST_MACHINE_PMA_PORT=8082

# MySQL root user password
MYSQL_ROOT_PASSWORD=deep70

# Database settings: Username, password and database name
MYSQL_USER=radixdev
MYSQL_HOST=mysqldb
MYSQL_PASSWORD=deep70
MYSQL_DATABASE=node_app

# Google App Credentials for google login
GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET=YOUR_GOOGLE_CLIENT_SECRET

# Facebook App Credentials for login with facebook
FACEBOOK_CLIENT_ID=FACEBOOK_CLIENT_ID
FACEBOOK_CLIENT_SECRET=FACEBOOK_CLIENT_SECRET

#Google Cloud Storage
GCLOUD_STORAGE_BUCKET=YOUR_GOOGLE_CLOUD_BUCKET_NAME

#Google application credentials file path
GOOGLE_APPLICATION_CREDENTIALS=PATH_TO_CREDENTIALS_JSON_FILE

#SMTP Configuration

SMTP_HOST=YOUR_SMTP_HOST
SMTP_PORT=YOUR_SMTP_PORT|25
SMTP_USER=YOUR_SMTP_USERNAME
SMTP_PASSWORD=YOUR_SMTP_PASSWORD
NODE_TLS_REJECT_UNAUTHORIZED=0
NODE_ENV=development

#AWS S3 Bucket For S3 File upload
AWS_ACCESS_KEY_ID=AWS_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY=AWS_SECRET_ACCESS_KEY
AWS_BUCKET=AWS_BUCKET
AWS_REGION=AWS_REGION