<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="NodeJS App">
    <title>NodeJS App</title>
    <link rel="stylesheet" href="https://getbootstrap.com/docs/5.1/dist/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://getbootstrap.com/docs/5.1/examples/headers/headers.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css" crossorigin="anonymous">
</head>
<body>
    <!-- Header: Start -->
    <%- include('partials/header'); %>
    <!-- Header: End -->
    <main role="main" class="container">
        <h1>Welcome to Upskillfest</h1>
        <p class="lead">
            <% if (!user) { %>
                You are unauthorized. Please <a href="login">login</a>.
            <% } else { %>
                    Welcome <%= user.displayName %>!
            <% } %>
        </p>
    </main>
    <!-- Footer: Start -->
    <%- include('partials/footer'); %>
    <!-- Footer: End -->
</body>
</html>