<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Login NodeJS App">
    <title>Login | NodeJS App</title>
    <link rel="stylesheet" href="https://getbootstrap.com/docs/5.1/dist/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://getbootstrap.com/docs/5.1/examples/headers/headers.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <!-- Header: Start -->
    <%- include('partials/header'); %>
    <!-- Header: End -->
    <main role="main" class="container">
        <h1>Login</h1>
        <p class="lead">
            <a href="/auth/google" class="btn btn-danger">
                <i class="fab fa-google left"></i> Log In With Google
            </a>
            <a href="/auth/facebook" class="btn btn-primary">
                <i class="fab fa-facebook-f"></i> Log In With Facebook
            </a>
        </p>
    </main>
    <!-- Footer: Start -->
    <%- include('partials/footer'); %>
    <!-- Footer: End -->
</body>
</html>