[mariadb]
default_time_zone='Asia/Kolkata'
default-storage-engine=MYISAM
local-infile=0
innodb_file_per_table=1
max_allowed_packet=256M
tmp-table-size = 512M
query_cache_limit=4M
query_cache_size=128M
query_cache_type=1
innodb_flush_log_at_trx_commit=2
innodb_lock_wait_timeout=200
max_connections=500
max_user_connections=45
sql-mode="NO_ENGINE_SUBSTITUTION"
# Set Slow Query Log (query time in seconds)
long_query_time=2
slow_query_log=1
slow_query_log_file=/var/log/mysql/mysql_slow.log
#Set General Log (Uncomment below lines to log all queries)
#general_log=1
#general_log_file=/var/log/mysql/mysql_general.log